@mixin case_discus_mixin() {
  .case-discus {
    height: 128px;
    &-header {
      height: 32px;
      background-color: $color-head;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 24px;
    }
    .cd {
      &-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        //width: 50%;
        &-case {
          &-status {
            box-sizing: border-box;
            width: 14px;
            height: 14px;
            margin-right: 8px;
            border-radius: 50%;
            &.in-work {
              background-color: $color-block-2;
            }

            &.done {
              background-color: $color-status-success;
            }
          }
          &-title {
            font-size: 14px;
            color: #ffffff;
            max-width: 200px;
            &-box {
              display: flex;
              align-items: center;
              height: 100%;
              max-width: 200px;
              &:hover {
                cursor: default;
              }
            }
          }
          &-input {
            outline: none;
            border: none;
            background-color: transparent;
            height: 100%;
            padding-bottom: 1px;
          }
          &-arrow {
            width: 7px;
            height: 100%;
            padding: 0 4px;
            opacity: .7;
          }
        }

      }
      &-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
      }
    }
  }
}