@import "../common/colors"; /* ВАЖНО!!! ЭТОТ МОДУЛЬ НЕ НУЖНО ДОБАВЛЯТЬ В НИЖНИЕ МОДУЛИ */
@import "./toolbar_panel";
@import "./slide_sidebar.scss";
@import "./work_area.scss";
@import "./case_discus_block.scss";
@import "./case_sidebar.scss";

/* OLD STYLE */
//.case-tracker {
//  position: relative;
//  //display: flex;
//  //flex-direction: column;
//  @include toolbar_panel_mixin();
//  &-body {
//    position: absolute;
//    top: 40px;
//    display: flex;
//    width: 100%;
//    height: calc(100vh - 40px);
//    @include slide_sidebar_mixin();
//    @include case_sidebar_mixin();
//    .center-content {
//      display: flex;
//      flex-direction: column;
//      width: calc(100% - 406px);
//      @include work_area_mixin();
//      @include case_discus_mixin();
//    }
//  }
//}

/* NEW STYLE */
.case-tracker {
  position: relative;
  width: 100vw;
  height: 100vh;
  @include work_area_mixin();
  @include toolbar_panel_mixin();
  @include slide_sidebar_mixin();
  @include case_sidebar_mixin();
  @include case_discus_mixin();
  .wa2 {
    &-tools {
      position: absolute;
      top: 56px;
      left: 216px;
      width: 52px;
      background-color: $color-head;
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-sizing: border-box;
      box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.24);
      border-radius: 4px;
      padding: 1px;
      &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 2px;
        &2 {
          justify-content: flex-start;
        }
        &-inside {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 17px;
          height: 100%;
          &-2 {
            padding-left: 0;
          }
        }
        &-icon {
          opacity: .7;
          width: 16px;
          height: 16px;
          &-super-tool {
            width: 18px;
            height: 18px;
            &.active {
              content: url(../img/case-tracker/toolbar_panel/superTool.svg);
            }
            &.not-active {
              opacity: 1 !important;
              content: url(../img/case-tracker/toolbar_panel/superToolNotActive.svg);
            }
          }
          &18 {
            width: 20px;
            height: 20px;
          }
        }
        &-arrow {
          opacity: .7;
          padding-left: 8px;
          padding-right: 3px;
          &2 {
            padding-left: 2px;
            padding-right: 5px;
            margin-top: 2px;
          }
        }
        &-text {
          font-size: 14px;
          color: white;
          opacity: 0.7;
          padding-left: 5px;
        }
        &:hover, &.hovered {
          background-color: $color-hover-box1;
          cursor: default;
          .wa2-tools__item-icon, .wa2-tools__item-arrow, .wa2-tools__item-text {
            opacity: 1;
          }
        }
        &.no-hover {
          background-color: $color-head;
        }
        &.active {
          background-color: $color-base;
          .wa2-tools__item-icon, .wa2-tools__item-arrow, .wa2-tools__item-text {
            opacity: 1;
          }
        }
      }
    }
  }
}
