@mixin slide_sidebar_mixin() {
  .slide-sidebar {
    position: absolute;
    top: 56px;
    left: 8px;
    box-sizing: border-box;
    width: 200px;
    height: calc(100% - 64px);
    background-color: #ffffff;
    border: 1px solid $color-head20;
    border-radius: 4px;
    padding: 24px 0;
    overflow-y: auto;
    @include scrollbarSlideBar();
    filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.24));
    .sl-b {
      &-box {
        display: grid;
        grid-template-columns: 14px 160px auto;
        padding-left: 8px;
        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
      &-num {
        font-size: 14px;
        width: 14px;
      }
      &-slide {
        position: relative;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 2px solid $color-block;
        width: 160px;
        height: 88px;
        border-radius: 2px;
        &-bg {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          background-color: $color-block;
          overflow: hidden;
          &-img {
            max-height: calc(100% - 2px);
          }
          &-no-img {
            width: 49px;
            height: 49px;
          }
          // Статусы
          &-empty {

          }
          &-in-work {

          }
          &-done {
            opacity: .5;
          }
        }
        &-done {
          //border: none;
        }
        &-active {
          border: 2px solid $color-base;
        }
        &-notify {
          top: -6px;
          right: -7px;
        }
      }
      &-options {
        width: 2px;
        height: 10px;
        &-box {
          display: flex;
          padding: 0 6px;
          height: 30px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      &-add {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 24px;
        &-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          &:hover {
            cursor: pointer;
          }
          &-button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            background-color: $color-base;
            width: 24px;
            height: 24px;
            margin-right: 4px;
            &-img {
              width: 11px;
              height: 11px;
            }
          }
          &-text {
            font-size: 12px;
            color: rgb(0, 0, 0, .5);
          }
        }
      }
    }
  }
}