@mixin toolbar_panel_mixin() {
  .toolbar-panel {
    overflow: hidden;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: $color-head;
    .tp {
      &-block {
        box-sizing: border-box;
        display: flex;
        height: 100%;
      }
      &-left {
        padding-left: 20px;
        width: 200px;
      }
      &-right {
        justify-content: space-between;
        width: calc(100% - 200px);
        &-first {
          display: flex;
        }
        &-second {
          display: flex;
          justify-content: flex-end;
          padding-right: 16px;
        }
      }
      &-icon {
        &-box {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          padding: 0 4px;
          &-2 {
            padding: 0 12px;
          }
          &-2-2 {
            padding: 0 0 0 12px;
          }
          &-3 {
            padding: 0 4px;
          }
          &-4 {
            padding: 0 8px;
          }
          &-5 {
            padding: 0;
          }
          &:hover, &.hovered {
            background-color: $color-hover-box1;
            cursor: default;
            .tp-icon-item {
              opacity: 1;
            }
          }
          &.no-hover {
            background-color: $color-head;
          }
          &.active {
            background-color: $color-base;
            .tp-icon-item {
              opacity: 1;
            }
          }
          &-center-a {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
          }
          .select-arrow {
            height: 100%;
            padding-right: 12px;
          }
        }
        &-item {
          opacity: .7;
          &-box {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding-left: 12px;
          }
        }
        &-img {
          width: 24px;
          height: 24px;
          &-rect {
            width: 16px;
            height: 16px;
          }
          &-first {
            margin-right: 4px;
          }
        }
        &-user-i {
          height: 24px;
          width: 24px;
          border-radius: 50%;
          font-size: 12px;
          color:#ffffff;
          line-height: 24px;
          text-align:center;
        }
      }
      &-text {
        font-size: 14px;
        color: white;
        &-input {
          outline: none;
          border: none;
          background-color: transparent;
          height: 100%;
          max-width: 150px;
          text-align: center;
          padding-bottom: 1px;
          &:hover {
            cursor: default;
          }
          &-readonly {
            max-width: 150px;
            text-align: center;
          }
        }
      }
    }
  }
}