@mixin work_area_mixin() {
  .work-area {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: $color-block;
    outline: none !important;
    .wa {
      &-empty {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        &-info {
          &-box {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 400px;
            height: 200px;
          }
          text-align: center;
          font-size: 14px;
          &-link {
            color: $color-base;
            &:hover {
              cursor: pointer;
            }
          }
          &-more {
            text-align: center;
            font-size: 14px;
            opacity: .5;
          }
          &-input {
            position: absolute;
            opacity: 0;
            overflow: hidden;
            top: 0;
            right: 0;
            width: 105px;
          }
          &-soon {
            display: flex;
            align-items: center;
            margin-top: 44px;
            &__item {
              &:not(:first-child) {
                margin-left: 8px;
              }
            }
            &1 {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: black;
              color: white;
              width: 49px;
              height: 24px;border-radius: 4px;
              span {
                margin-top: -2px;
              }
            }
            &2 {
              font-size: 14px;
              line-height: 17px;
              color: rgba(0, 0, 0, 0.3);
            }
            &3 {
              width: 24px;
              height: 24px;
            }
          }
        }
        &-is-dropped {
          background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230000004D' stroke-width='4' stroke-dasharray='20%2c 20' stroke-dashoffset='50' stroke-linecap='butt'/%3e%3c/svg%3e");
          //border: 2px dashed rgb(0, 0, 0, .3);
        }
      }
      &-canvas-box {
        width: 100%;
        height: 100%;
      }
    }
  }
}