@import "../mixins/widgets";
@import "colors";

.case-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  &-case {
    &-status {
      box-sizing: border-box;
      width: 14px;
      height: 14px;
      margin-right: 8px;
      border-radius: 50%;
      &.in-work {
        background-color: $color-block-2;
      }

      &.done {
        background-color: $color-status-success;
      }
    }
    &-title {
      font-size: 14px;
      color: #ffffff;
      max-width: 200px;
      &-box {
        display: flex;
        align-items: center;
        height: 100%;
        max-width: 200px;
        &:hover {
          cursor: default;
        }
      }
      &-black {
        color: #000000;
      }
    }
    &-input {
      outline: none;
      border: none;
      background-color: transparent;
      height: 100%;
      padding-bottom: 1px;
    }
    &-arrow {
      width: 7px;
      height: 100%;
      padding: 0 4px;
      opacity: .7;
    }
  }
}
.p-comments {
  max-width: 500px;
  padding: 16px 0 24px 0;
  &-list {
    display: flex;
    flex-direction: column;
  }
  &-padding {
    padding: 0 16px;
  }
  &-padding-2 {
    padding: 0 24px 0 16px;
  }
  .pc {
    &-input-area {
      display: flex;
      flex-direction: column;
      &-left {
        position: relative;
        display: flex;
      }
      &-user {
        @include w-icon-user();
        margin-right: 8px;
        margin-top: 3px;
      }
      &-text {
        box-sizing: border-box;
        border-radius: 2px;
        border: 1px solid rgb(0, 0, 0, .2);
        padding: 7px 30px 7px 8px;
        font-size: 12px;
        width: 100%;
        &-empty {
          height: 31px;
          &::placeholder {
            color: rgb(0, 0, 0, .3);
          }
        }
        &-box {
          position: relative;
          width: calc(100% - 32px);
          height: 31px;
          &-edited {
            height: 74px;
          }
        }
      }
      &-add-img {
        width: 100%;
        height: 100%;
        &-box {
          position: absolute;
          width: 18px;
          height: 16px;
          bottom: 8px;
          right: 8px;
        }
        &-input {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          overflow: hidden;
          z-index: 1;
          left: 0;
        }
      }
      &-right {
        display: flex;
        flex-direction: column;
        margin-top: 2px;
      }
      &-descr {
        font-size: 10px;
        font-weight: 400;
        color: rgb(0, 0, 0, .3);
        margin-left: 40px;
      }
    }
    &-comment-item {
      position: relative;
      display: flex;
      //display: grid;
      //grid-template-columns: 1fr 1fr;
      margin-bottom: 24px;
      &-user {
        @include w-icon-user();
        margin-right: 16px;
      }
      &-body {
        display: flex;
        flex-direction: column;
        //width: 320px;
        width: 89%;
        &-name {
          font-size: 12px;
          color: rgb(0, 0, 0, .5);
        }
        &-message {
          font-size: 12px;
          margin-top: 4px;
          padding-right: 17px;
          overflow-wrap: break-word;
        }
        &-bottom {
          margin-top: 4px;
          font-size: 12px;
        }
        &-date {
          color: rgb(0, 0, 0, .3);
          margin-right: 16px;
        }
        &-reply {
          color: $color-link;
          &:hover {
            cursor: pointer;
          }
        }
        &-img {
          width: 7px;
          height: 4px;
          &-box {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 13px;
            height: 13px;
          }
        }
      }
      &-children {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
      }
    }
    &-preview {
      display: flex;
      margin-top: 8px;
      padding-left: 32px;
      &-item {
        position: relative;
        background-color: $color-block;
        &:not(:last-child) {
          margin-right: 8px;
        }
        &-landscape { // альбом (в ширину)
          min-width: 123px;
          width: 123px;
          height: 72px;
        }
        &-portrait { // портрет (в высоту)
          min-width: 100px;
          width: 100px;
          height: 100px;
        }
        &-img {
          width: 100%;
        }
        &-close {
          position: absolute;
          z-index: 1;
          top: 0;
          right: 0;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}