$color-base: #00a6ed;
$color-head: #051923;
$color-block: #e8e8e8; // gray 30-black
$color-block-2: #b2b2b2; // gray 30-black
$color-black-50: #7f7f7f; // gray 50-black
$color-link: #2A75E5;

/* FONT */


/* BUTTONS */

/* STATUSES */
$color-status-success: #38AF3C;

/* LINE */
$color-divider: #e8e8e8;

/* HOVER */
$color-hover-box1: #00050F;

/* OTHER */
$color-scroll: #D8D8D8;