$color-base: #00A6ED;
$color-head: #051923;
$color-block: #e8e8e8; // gray 30-black
$color-link: #2A75E5;

/* FONT */


/* BUTTONS */


/* LINE */
$color-divider: #e8e8e8;

/* HOVER */
$color-hover-box1: #00050F;

/* OTHER */
$color-scroll: #D8D8D8;