/* --- САЙТ --- */
/* Переключение на планшетное-меню */
$SiteTabletMin: 1023px;
$SiteTabletMax: 1024px;

/* --- VIEW TRACKER APP --- */
$caseTrackerTabletMin: 1366px;
$caseTrackerTabletMax: 1367px;

/* HD */
//$desktopHD: px;
