@import "../mixins/common";
@import "../mixins/animation";
@import "colors";
@import "displays";

p {
  margin: 0;
  padding: 0;
}

/* КОНТЕНТ */
.main-content {
  position: relative;
  background-color: #fff;
  &-body {

  }
}

/* TOP NAV */
.nav {

}

/* КНОПКИ */
.c-btn {

}
.btn-link {

}

/* ЛИНИИ */


/* FOOTER */
.c-footer {
  display: flex;
  &-logo {

  }
}

/* MODALS */
.c-modal {

}
.p-context-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 8;
  &-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  &-content {
    z-index: 10;
    position: absolute;
    border-radius: 2px;
    background-color: $color-head;
    @include context-menu-shadow(1);
    .cm-list {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 12px 0;
      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 23px;
        padding: 0 16px;
        &-text {
          font-size: 12px;
          color: white;
          &:hover {
            cursor: default;
          }
        }
        &-arrow {
          width: 8px;
          height: 8px;
        }
        &:hover {
          background-color: $color-base;
        }
      }
      &-shape {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 26px;
        padding: 0 8px;
        &-text {
          font-size: 12px;
          color: white;
          &:hover {
            cursor: default;
          }
        }
        &-icon {
          width: 18px;
          height: 18px;
          margin-right: 8px;
        }
        &-arrow {
          width: 22.63px;
          height: auto;
        }
        &-selected {
          width: 10px;
          height: 8px;
          margin-right: 8px;
        }
      }
      .cm-divider {
        margin: 10px 0;
        border-top: 1px solid $color-divider;
      }
    }
    &.p-triangle {
      &:after {
        content:'';
        position: absolute;
        width: 0; height: 0;
        box-sizing: border-box;
        z-index: 11;
        left: 15px;
        transform-origin: 0 0;
        border: 5px solid black;
      }
      &-down {
        &:after {
          top: 99%;
          border-color: transparent transparent $color-head $color-head;
          transform: rotate(-45deg);
          @include triangle-shadow();
        }
      }
      &-up {
        &:after {
          top: 1px;
          left: 32px;
          border-color: transparent transparent $color-head $color-head;
          transform: rotate(135deg);
          @include triangle-shadow();
        }
      }
    }
  }
}

.p-tooltip {
  z-index: 2;
  position: absolute;
  border-radius: 2px;
  background-color: $color-head;
  @include context-menu-shadow(1);
  padding: 8px 16px;
  &-text {
    font-size: 14px;
    color: white;
    &:hover {
      cursor: default;
    }
  }
  &.p-triangle {
    &:after {
      content:'';
      position: absolute;
      width: 0; height: 0;
      box-sizing: border-box;
      z-index: 11;
      left: 15px;
      transform-origin: 0 0;
      border: 5px solid black;
    }
    &-up {
      &:after {
        top: 1px;
        left: 32px;
        border-color: transparent transparent $color-head $color-head;
        transform: rotate(135deg);
        @include triangle-shadow();
      }
    }
  }
}

/* CONTROLS */
.c-agreement {

}

/* ANIMATIONS */
/* https://ru.vuejs.org/v2/guide/transitions.html */

/* OTHER */
.p-cursor-pointer {
  cursor: pointer;
}
.scroll-y-container {
  overflow-y: auto;
  @include scrollbarBase();
}
.select-arrow {
  width: 7px;
  height: 4px;
  margin-left: 4px;
}
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.p-flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}
.p-color-picker {
  display: flex;
  align-items: center;
  padding: 18px 24px;
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 22px;
    &:not(:last-child) {
      margin-right: 8px;
    }
    &:hover {
      cursor: pointer;
    }
    .cp-first {
      height: 18px;
    }
    .cp-second {
      width: 100%;
      height: 2px;
      background-color: transparent;
      &-selected {
        background-color: #FFFFFF;
      }
    }
    .cp-text {
      font-size: 14px;
      color: white;
    }
    .cp-color {
      box-sizing: border-box;
      width: 18px;
      &-black {
        background-color: #000000;
        border: 1px solid #FFFFFF;
      }
      &-white {
        background-color: #FFFFFF;
      }
    }
  }
}