@import "../mixins/common";
@import "../mixins/widgets";
@import "../mixins/animation";
@import "colors";
@import "displays";

p {
  margin: 0;
  padding: 0;
}

/* КОНТЕНТ */
.main-content {
  position: relative;
  background-color: #fff;
  &-body {

  }
}

/* TOP NAV */
.nav {

}

/* КНОПКИ */
.p-btn {
  &-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, .4);
    width: 18px;
    height: 18px;
    &-icon {
      width: 12px;
      height: 12px;
    }
  }
}
.btn-link {

}

/* ЛИНИИ */


/* FOOTER */
.c-footer {
  display: flex;
  &-logo {

  }
}

/* MODALS */
.p-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  &-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
  }
  &-context-menu {
    z-index: 7;
    position: absolute;
    border-radius: 2px;
    background-color: $color-head;
    @include context-menu-shadow(1);
    .cm-list {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 12px 0;
      &-2 {
        padding: 0 0 12px 0;
      }
      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 23px;
        padding: 0 16px;
        &-text {
          font-size: 12px;
          color: white;
          &:hover {
            cursor: default;
          }
        }
        &-arrow {
          width: 8px;
          height: 8px;
        }
        &:hover {
          background-color: $color-base;
        }
      }
      &-shape {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 26px;
        padding: 0 8px;
        &-text {
          font-size: 12px;
          color: white;
          &:hover {
            cursor: default;
          }
        }
        &-icon {
          width: 18px;
          height: 18px;
          margin-right: 8px;
        }
        &-arrow {
          width: 22.63px;
          height: auto;
        }
        &-selected {
          width: 10px;
          height: 8px;
          margin-right: 8px;
        }
      }
      .cm-divider {
        margin: 10px 0;
        border-top: 1px solid $color-divider;
      }
    }
    &.p-triangle {
      &:after {
        content:'';
        position: absolute;
        width: 0; height: 0;
        box-sizing: border-box;
        z-index: 11;
        left: 15px;
        transform-origin: 0 0;
        border: 5px solid black;
      }
      &-down {
        &:after {
          top: 99%;
          border-color: transparent transparent $color-head $color-head;
          transform: rotate(-45deg);
          @include triangle-shadow();
        }
      }
      &-up {
        &:after {
          top: 1px;
          left: 32px;
          border-color: transparent transparent $color-head $color-head;
          transform: rotate(135deg);
          @include triangle-shadow();
        }
      }
      &-right {
        &:after {
          left: auto;
          right: 15px;
        }
      }
    }
    .p-scale {
      display: flex;
      flex-direction: column;
      &-input {
        outline: none;
        border: 1px solid $color-base;
        border-radius: 4px;
        height: 30px;
        background-color: transparent;
        color: #ffffff;
        font-size: 12px;
        padding: 0 6px;
        box-sizing: border-box;
        width: 100%;
        &-box {
          padding: 16px 24px 6px 16px;
        }
      }
    }
  }
  &-central {
    z-index: 7;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    @include central-modal-shadow(.25);
    //display: flex;
    //flex-direction: column;
    display: grid;
    .mc-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 24px;
      height: 50px;
      border-bottom: 1px solid $color-divider;
      &.short-left {
        padding: 0 24px 0 16px !important;
      }
      .share {
        &-first {
          display: flex;
          align-items: center;
          &-pre {
            font-size: 12px;
            font-weight: 200;
            margin-right: 5px;
          }
          &-name {
            font-size: 14px;
          }
        }
      }
      &-close {
        position: absolute;
        right: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        &:hover {
          cursor: pointer;
        }
        &-icon {
          width: 10px;
          height: 10px;
        }
      }
    }
    .share-modal {
      &-padding {
        padding: 16px 24px;
        &.wout-top {
          padding: 0 24px 16px;
        }
      }
      .add-user {
        &-box {
          display: flex;
          justify-content: space-between;
          height: 30px;
        }
        &-item {
          border-radius: 2px;
          box-sizing: border-box;
        }
        &-input {
          width: 332px;
          outline: none;
          border: 1px solid rgb(0, 0, 0, .3);
          padding: 0 8px;
          &::placeholder {
            color: #000;
            opacity: .3;
          }
        }
        &-button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 112px;
          height: 100%;
          background-color: $color-base;
          color: #fff;
          font-size: 12px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .user-list {
        display: flex;
        flex-direction: column;
        .ul-item {
          display: flex;
          justify-content: space-between;
          &:not(:first-child) {
            margin-top: 16px;
          }
          &:hover {
            cursor: default;
          }
          &-left {
            display: flex;
            align-items: center;
            &-icon {
              @include w-icon-user();
              margin-right: 8px;
            }
            &-text {
              font-size: 12px;
            }
          }
          &-right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            &-text {
              min-width: 160px;
              text-align: right;
              font-size: 12px;
            }
            &-arrow {
              padding-left: 8px;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      &-divider {
        border-bottom: 1px solid $color-divider;
      }
      &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        height: 50px;
        .text-link-box {
          display: flex;
          &:hover {
            cursor: pointer;
            .text-link {
              text-decoration: underline;
            }
          }
        }
        .text-link {
          font-size: 12px;
          &-icon {
            width: 14px;
            height: 14px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
.p-tooltip {
  z-index: 15;
  position: absolute;
  border-radius: 2px;
  background-color: $color-head;
  @include context-menu-shadow(1);
  padding: 8px 16px;
  &-text {
    font-size: 14px;
    color: white;
    &:hover {
      cursor: default;
    }
  }
  &.p-triangle {
    &:after {
      content:'';
      position: absolute;
      width: 0; height: 0;
      box-sizing: border-box;
      z-index: 11;
      left: 15px;
      transform-origin: 0 0;
      border: 5px solid black;
    }
    &-up {
      &:after {
        top: 1px;
        left: 32px;
        border-color: transparent transparent $color-head $color-head;
        transform: rotate(135deg);
        @include triangle-shadow();
      }
    }
  }
}
.p-simple-notify {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  &-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
  }
  &-content {
    padding: 16px 32px;
    background-color: $color-base;
    border-radius: 2px;
    z-index: 12;
    &:hover {
      cursor: default;
    }
    p {
      font-size: 14px;
      color: white;
      width: 100%;
      text-align: center;
    }
  }
}

/* CONTROLS */
.c-agreement {

}
.triangle-rotate {
  width: 8px;
  height: 8px;
  transform: rotate(145deg);
  &-open {
    transform: rotate(0);
  }
}

/* Notify */
.notify-circle {
  position: absolute;
  top: 0;
  right: 0;
  height: 9px;
  width: 9px;
  background-color: $color-base;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.case-status {
  &-main {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid transparent;
    &.commented {
      border: 2px solid $color-base;
    }
  }
  &-inside {
    box-sizing: border-box;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    border: 1px solid transparent;
  }
}
.p-notifications {
  display: flex;
  flex-direction: column;
  &-item {
    display: flex;
    flex-direction: column;
    padding: 12px 16px 12px 8px;
    &-box {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 40px - 44px - 15px - 42px - 18px);
    }
    &:hover {
      cursor: default;
    }
    .nf {
      &-header {
        display: flex;
        align-items: center;
        &-user {
          &-icon {
            @include w-icon-user();
            margin-right: 8px;
          }
          &-name {
            font-size: 12px;
          }
        }
      }
      &-short-info {
        font-size: 10px;
        letter-spacing: .1px;
      }
      &-date-time {
        margin-top: 4px;
      }
      &-slide-name {

      }
      &-comment {
        font-size: 12px;
        margin-top: 4px;
        color: #000;
      }
    }
  }
  &-more {
    &-box {
      display: flex;
      justify-content: center;
      margin-top: 14px;
      padding: 4px 0;
      &.box-hover {
        &:hover {
          cursor: pointer;
        }
      }
    }
    font-size: 12px;
  }
}

/* ANIMATIONS */
/* https://ru.vuejs.org/v2/guide/transitions.html */

/* OTHER */
.p-cursor-pointer {
  cursor: pointer;
}
.scroll-hidden {
  overflow-y: auto;
  @include scrollbarHidden();
}
.scroll-y-container {
  overflow-y: auto;
  @include scrollbarSmall();
}
.scroll-x-container {
  white-space: nowrap;
  overflow-x: auto;
  @include scrollDivHoriz();
}
.scroll-textarea {
  overflow-y: auto;
  @include scrollbarTextarea();
}
.select-arrow {
  width: 7px;
  height: 100%;
  padding-left: 4px;
}
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.p-flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}
.p-color-picker {
  display: flex;
  align-items: center;
  padding: 18px 24px;
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 22px;
    &:not(:last-child) {
      margin-right: 8px;
    }
    &:hover {
      cursor: pointer;
    }
    .cp-first {
      height: 18px;
    }
    .cp-second {
      width: 100%;
      height: 2px;
      background-color: transparent;
      &-selected {
        background-color: #FFFFFF;
      }
    }
    .cp-text {
      font-size: 14px;
      color: white;
    }
    .cp-color {
      box-sizing: border-box;
      width: 18px;
      &-000000 {
        background-color: #000000;
        border: 1px solid #FFFFFF;
      }
    }
  }
}
.text-link {
  color: $color-link;
}
.rgb {
  &-black {
    &-50 {
      color: rgb(0, 0, 0, .5);
    }
    &-30 {
      color: rgb(0, 0, 0, .3);
    }
  }
  &-base {
    &-20 {
      background-color: rgb(0, 166, 237, .2);
    }
    &-10 {
      background-color: rgb(0, 166, 237, .1);
    }
  }
}
.p-textarea {
  &-custom {
    outline: none;
    border: none;
    background-color: transparent;
    resize: none;
    &.tc-disabled {
      overflow:hidden;
    }
  }
}
.p-text {
  &-box {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
  }
}
